{% from "partials/leader.html" import leader with context %}
{% from "partials/button.html" import button with context %}
{% from "partials/card.html" import card with context %}

<style type="text/css">
    tr {
        transition: all 0.2s ease-in-out;
    }
    tr:hover {
        background: rgba(0,0,0,0.4);
        text-shadow: #ae4061 1px 1px 2px;
    }
</style>
<div class="row wow animated bounceInUp">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <div class="calendar">
            <table class="table table-dark" id="calendar-table">
              <thead class="bg-raven">
                <tr>
                  <th scope="col" class="important">Time</th>
                  <th scope="col" class="important">Event</th>
                </tr>
              </thead>
              <tbody>
                <tr id="checkin">
                  <td>8:30 AM</td>
                  <td>Check-in</td>
                </tr>
                <tr id="teams">
                  <td>9:00 AM</td>
                  <td>Teams Formed</td>
                </tr>
                <tr id="food">
                  <td>1:00 PM</td>
                  <td>Lunch</td>
                </tr>
                <tr id="workshop">
                  <td>2:00 PM</td>
                  <td>Workshop (UCode)</td>
                </tr>
                <tr id="judging">
                  <td>8:30 PM</td>
                  <td>Judging Begins</td>
                </tr>
                <tr id="keynote">
                  <td>9:00 PM</td>
                  <td>Keynote/Dinner</td>
                </tr>
                <tr id="closing">
                  <td>10:00 PM</td>
                  <td>Results/Closing Ceremony</td>
                </tr>
              </tbody>
        </table>
        </div>
      </div>
        <div class="col-sm-6" style="margin-bottom: 20px">
          {{ card(calendar=true, title="Check In", content="While you check in, you'll get your swag bag as well as form potential teams. You'll also get a more detailed schedule and we're here to answer any questions you have!") }}
        </div>
</div>
{{ button(text='ADD TO CALENDAR', url="https://google.com", shadow=true) }}